<div class="footer wow fadeInRight animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
    <div class="container">
        <p>Copyright © 2016 Car Zone. All rights reserved | Design by ASHIT</p>
    </div>
</div>